body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-warning {
  color: #FFFFFF;
}

.fa-times-circle-o {
  font-size:22px;
  color:#FDC02F;
}


.badge-warning {
  color: #FFFFFF;
}

#map {
  height: 400px;  
  width: 100%;
 }
